{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BlogSpace</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <div class="wrapper">
      <h1>
        <a href="{% url 'articles:list' %}">
          <img src="{% static 'logo.svg' %}" alt="BlogSpace">
        </a>
      </h1>

      <nav>
        <ul>
          {% if user.is_authenticated %}
            <li>
              <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Logout</button>
              </form>
            </li>
            <li>
              <a href="{% url 'articles:create' %}" class="highlight">Create Article</a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'accounts:login' %}" class="highlight">Login</a>
            </li>
            <li>
              <a href="{% url 'accounts:register' %}" class="highlight">Register</a>
            </li>
          {% endif %}

        </ul>
      </nav>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
